# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace
ios/Flutter/Flutter.xcframework

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/

# VSCode
.vscode/

# Xcode
*.xcuserstate
*.xcworkspace
*.xcconfig
*.xccheckout
*.xcodeproj/project.xcworkspace/
DerivedData/
